body {
    background-color: rgb(70, 107, 242);
    display: flex;
    justify-content: center;
    margin-top: 150px;

}
div {

    height: 250px;
    width: 450px;
    background-color: aliceblue;
    border: 1px solid black;
    border-radius: 5px;
  
    
}
.input {
    height: 30px;
    width: 400px;
    display: flex;
    margin-left: 20px;
    border: 1px solid rgb(68, 48, 198);
    color: blueviolet;
    font-size: larger;
   

}
   
button {
    height: 40px;
    width: 100px;
    padding: 5px;
    margin-top: 15px;
    margin-left: 170px;
    background-color: rgb(10, 111, 244);
    border: none;
    color: aliceblue;
    font-weight: 600;
    cursor: pointer;
}
.text1{
    display: flex;
    justify-content: center;
    color: black;
    font-size: large;
    font-weight: 900;
    pointer-events: none;

}
.text2 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: large;
    font-weight: 700;
    pointer-events: none;
}
div :hover#btn{
   border: 1px solid purple;
    background-color: blueviolet;
    font-size: larger;
    font-weight: 1200;
}
.output{
    display: flex;
    justify-content: center;
    color: green;
    font-weight: 800;
    pointer-events: none;
}
.feedback{
   
   display: none;
}
.show{
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 5px;
    color: red;
}
